section{
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.432);
}
body{
    background-color: rgb(19, 3, 90);
}
div{
    padding: 5px;
}
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: italic;
}
h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-style: Arial;
}

