body{
    background: blue;
    color: white;
    text-align: center;
    font-style: italic;
}
section{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: blue;
    text-align: left;
}